<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="stylesheet"
      href="{{url_for('static',filename='css/main.css')
    }}"
    />
    <title>Flask App</title>
  </head>
  <body>
    <header>
      <div class="container">
        <h1 class="logo">MY LAYOUT PAGE</h1>
        <strong
          ><nav>
            <ul class="menu">
              <li><a href="{{ url_for('home') }}">Home</a></li>
              <li><a href="{{ url_for('plot') }}">Plot</a></li>
              <li><a href="{{ url_for('about') }}">About</a></li>
            </ul>
          </nav></strong
        >
      </div>
    </header>
    <div class="container">
      <!-- this is the place where the content will display from the page which extend the layout page -->
      {%block content%}{%endblock%}
    </div>
  </body>
</html>
